/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/*my styles*/

html, body {
  font-family: 'PT Sans', sans-serif;
}

body {
  padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
h2 {
  color: #44A4F3;
}
h3 {
  color: #F5635D;
}

h4 {
  margin: 40px 0;
}
.main-logo {
  display: block;
  margin: 40px auto;
}
.welcome-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /*background: url(polina.jpg) no-repeat;*/
  background-size: cover;
}
.centered {
  text-align: center;
}
.timestamp {
}
.inner-box {
  /*min-height: 600px;*/
  padding: 1px 20px 20px 20px;
  border: 1px solid #eee;
  background: rgba(255,255,255,.65);
  border-radius: 10px;
}

.left-col .inner-box {
  text-align: center;
}

.left-col .inner-box h2 {
  color: #F5635D;
}

.right-col .inner-box {

}
.right-col .inner-box h2 {
  text-align: center;
}
.right-col .inner-box table {
  background: rgba(255,255,255,.6)
}


path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
