<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="weatheredApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|PT+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>

  <video class="welcome-video" poster="img/light.png" autoplay="autoplay" autobuffer="autobuffer" loop="loop" width="1920" height="1072" src="video/light.mp4"></video>

  <img src="img/logo.png" alt="" class="main-logo" />
  <div class="container" ng-controller="CityListCtrl">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 left-col">
        <div class="inner-box">
          <h2>Select the Weather for your City</h2>
          <hr>
          <form class="" action="" method="post">
            <div class="form-group">
              <select id="selectCities" class="form-control input-lg"  ng-options="city as city.name for city in cities track by city.id" ng-model="selectedCity" ng-change="change()">
                <option value="">-- Select a City --</option>
              </select>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3 right-col" style="margin-top:40px;">
        <div class="inner-box" ng-if="selectedCity">
          <h2>Current weather for {{selectedCity.name}}</h2>
          <h5 class="centered timestamp">
            For {{date | date:'medium'}}
          </h5>

          <hr>

          <h3>
            <img src="http://openweathermap.org/img/w/{{selectedCity.weatherData.weather[0].icon}}.png" alt="" />
            {{selectedCity.weatherData.main.temp}}&deg;F - {{selectedCity.weatherData.weather[0].main}}: {{selectedCity.weatherData.weather[0].description}}
          </h3>

          <hr>

          <h4>Todays Forecast:</h4>
          <table class="table table-bordered">
            <tr>
              <th>High / Low Temperature</th>
              <td>{{selectedCity.forecastData.list[0].temp.min}}&deg;F / {{selectedCity.forecastData.list[0].temp.max}}&deg;F</td>
            </tr>
            <tr>
              <th>Humidity</th>
              <td>{{selectedCity.weatherData.main.humidity}}%</td>
            </tr>
            <tr>
              <th>Barometric Pressure</th>
              <td>{{ (selectedCity.weatherData.main.pressure / 33.86).toFixed(2) }} in</td>
            </tr>
            <tr>
              <th>Wind</th>
              <td>{{ selectedCity.weatherData.wind.speed }} mph</td>
            </tr>
          </table>
          <hr>
          <h4>7 Day Forecast:</h4>
          <div id="chart"></div>

        </div>
      </div>
    </div>
  </div>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="components/cities/citiescontroller.js"></script>
</body>
</html>
